/* Admission.module.css */

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f9fc;
}

.contentArea {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 40px 50px;
  line-height: 1.8;
}

.contentArea h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: black;
}

.contentArea h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
  color: black;
}

.contentArea p {
  margin-bottom: 15px;
  font-size: 1rem;
  color: black;
}
