/* Banner */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2A06AE;
    color: white;
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .bannerTitle {
    font-size: 18px;
    font-weight: bold;
  }
  
  .navButtons {
    display: flex;
    gap: 10px;
  }
  
  .navButtons button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  .navButtons button:hover {
    color: #dcdcdc;
  }
  
/* Sidebar */
  .sidebar {
    background-color: #f9f9f9;
    width: 250px;
    height: 100vh;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .sidebar h2 {
    font-size: 18px;
    color: #2A06AE;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    margin: 10px 0;
  }
  
  .sidebar li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
  }

  