.body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f7fa; /* Light background color for the whole page */
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Styles for desktop screens */
@media (min-width: 1024px) {
  .body {
    background-color: #f0f0f0;
    font-size: 18px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    height: auto;
  }

  .header {
    text-align: center;
    padding: 20px;
    height: 100px;
  }

  .mainpage h1 {
    font-size: 50px;
  }
}

/* Styles for tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .body {
    font-size: 16px;
  }

  .container {
    padding: 15px;
    height: auto;
  }

  .mainpage h1 {
    font-size: 40px;
  }
}

/* Styles for mobile screens */
@media (max-width: 767px) {
  .body {
    font-size: 14px;
    background-color: #ffffff;
  }

  .header {
    text-align: left;
    padding: 10px;
    height: 80px;
  }

  .container {
    padding: 10px;
    height: auto;
  }

  .mainpage h1 {
    font-size: 30px;
    padding-top: 30px;
  }
}

.mainpage h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  margin: 0;
}

/* Main section styling */
.main {
  padding: 40px;
  text-align: center;
  
}

/* Grid styling */
.grid {
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center; /* Ensures all grid items (cards) are centered */
  align-items: start;    /* Ensures the content of cards aligns at the top */
  width: 100%;
  margin-top: 100px;        /* Centers the grid container */
  padding: 0 20px;
}

/* Card styling */
.card {
  
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column; /* Ensures content inside the card is aligned vertically */
  justify-content: space-between; /* Space between elements inside the card */
  max-width: 300px; /* Restrict the card width to prevent stretching */
  margin: 0 auto;   /* Center the card inside each grid item */
}

.card:hover {
  transform: scale(1.05);
}

.card h3 {
  margin-bottom: 10px;
  text-decoration: underline;
}

.card a {
  color: #0044cc;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

.card img {
  margin: 0;
  width: 100%;
  object-fit: cover;
  border-radius: 10px; /* Adds a rounded effect to images */
}

/* Additional responsive adjustments for smaller screens */
@media (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr; /* Single column for mobile */
  }

  .card {
    max-width: 100%; /* Cards will take full width in mobile view */
  }
}
