/* Sidebar Container */
.sidebar-container {
    display: flex;
    flex-direction: row;
  }
  
  /* Sidebar */
  .sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    height: 100vh;
    transition: width 0.3s;
    padding-top: 20px;
  }
  
  .sidebarClosed {
    width: 60px;
  }
  
  .sidebarHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .sidebarTitle {
    font-size: 24px;
  }
  
  .sidebarToggleButton {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  
  .sidebarNav {
    margin-top: 20px;
  }
  
  .sidebarMenuItem {
    margin: 10px 0;
  }
  
  .sidebarMenuLink {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .submenu {
    padding-left: 20px;
  }
  
  .submenuLink {
    display: block;
  }
  