.container {
  display: flex;
  min-height: 100vh;
}

.content {
  margin-left: 250px;
  width: calc(100% - 250px);
}

.header {
  background-color: #fff9e3; /* You can keep your preferred header color */
  color: black;
  padding: 20px;
  text-align: center;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  margin-left: 20px;
}

.main {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-top: 0;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
