/* SchoolDepartment.module.css */

/* page layout */
.container {
    display: flex;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif; /* Modern font */
    background-color: #f7f7f7;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

/* Sidebar styling */
.sidebar {
    width: 280px;
    background: white;
    color: black;
    padding: 30px;
    border-radius: 8px;
    border-right: 2px solid #ccc; /* Border on the right side */
    flex-shrink: 0; /* Prevent sidebar from shrinking */
}
.sidebar h2 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    display: flex;
    align-items: center; /* Align icon and text horizontally */
    padding: 15px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1.1rem;
}

.sidebar li:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Hover effect */
    transform: translateX(5px); /* Slight movement on hover */
}
  
.sidebar li.active {
    background-color: #4caf50; /* Highlight active tab */
    transform: scale(1.05);
}

.sidebar li:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Hover effect */
  transform: translateX(5px); /* Slight movement on hover */
}

.sidebar li.active {
  background-color: #4c8eaf; /* Highlight active tab */
  transform: scale(1.05);
}

/* tab area styling */
.tabContent {
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 8px;
    animation: fadeIn 0.5s ease-out;
}

.tabContent h1 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

/* Content area styling */
.content {
    flex-grow: 1;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    margin-left: 30px;
    transition: all 0.3s ease;
    min-width: 300px; 
}

.Table1 {
  width: 280px;
  padding: 30px;
  border-right: 2px;
  align-items: center;
}

.Table1 label {
  border: #4c8eaf solid;
  border-radius: 4px;
  font-weight: bold;
}

.Table1 li {
  text-align: left;
}

.Table2 {
  width: 280px;
  padding: 30px;
  border-right: 2px;
  align-items: center;
}

.Table2 label {
  border: #4c8eaf solid;
  border-radius: 4px;
  font-weight: bold;
}

.Table3 {
  width: 280px;
  padding: 30px;
  border-right: 2px;
  align-items: center;
}

.Table3 label {
  border: #4c8eaf solid;
  border-radius: 4px;
  font-weight: bold;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


/* Responsive Design */
@media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .sidebar {
      width: 100%;
      margin-bottom: 20px; /* Space between sidebar and content */
      border-right: none;
    }
  
    .content {
      margin-left: 0;
      width: 100%;
    }
}
  