/* AboutUs.module.css */

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  min-height: 100vh;
  background-color: #ffffff;
}

.hours {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #2A06AE;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.contentArea {
  text-align: center;
  color: black;
}

.contentArea h2 {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #222;
}

.contentArea p {
  margin-bottom: 15px;
  font-size: 1rem;
  color: #444;
}
